<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>MUSIC MANIA</title>


    <link rel="icon" href="img/core-img/favicon.ico">


    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <header class="header-area">

        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">

                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">


                        <a href="index.html" class="nav-brand"><div id="logo" style="width:255px; height: 250px; margin-bottom: 08px; float:right"><img src="img/core-img/lo.png"></div></a>

                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        
                        <div class="classy-menu">

                         
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                        
                            <div class="classynav">
                                <ul>
                                    <li><a href="/index">Home</a></li>
                                    <li><a href="/albums-store">Albums</a></li>
                                    <li><a href="/event">Events</a></li>
                                    <li><a href="/blog">News</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                             
                                <div class="login-register-cart-button d-flex align-items-center">
                                 
                                  


                          

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Latest Albums</h2>
        </div>
    </section>
   

   
    <section class="album-catagory section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
                        <a href="#" data-filter="*">Browse All</a>
                        <a href="/a" data-filter=".a">A</a>
                        <a href="/b" data-filter=".b">B</a>
                        <a href="/c" data-filter=".c">C</a>
                        <a href="/d" data-filter=".d">D</a>
                        <a href="/e" data-filter=".e">E</a>
                        <a href="/f" data-filter=".f">F</a>
                        <a href="/g" data-filter=".g">G</a>
                        <a href="/h" data-filter=".h">H</a>
                        <a href="/i" data-filter=".i">I</a>
                        <a href="/j" data-filter=".j">J</a>
                        <a href="/k" data-filter=".k">K</a>
                        <a href="/l" data-filter=".l">L</a>
                        <a href="/m" data-filter=".m">M</a>
                        <a href="/n" data-filter=".n">N</a>
                        <a href="/o" data-filter=".o">O</a>
                        <a href="/p" data-filter=".p">P</a>
                        <a href="/q" data-filter=".q">Q</a>
                        <a href="/r" data-filter=".r">R</a>
                        <a href="/s" data-filter=".s">S</a>
                        <a href="/t" data-filter=".t">T</a>
                        <a href="/u" data-filter=".u">U</a>
                        <a href="/v" data-filter=".v">V</a>
                        <a href="/w" data-filter=".w" class="active">W</a>
                        <a href="/x" data-filter=".x">X</a>
                        <a href="/y" data-filter=".y">Y</a>
                        <a href="/z" data-filter=".z">Z</a>

                    </div>
                </div>
            </div>

         
    <section class="miscellaneous-area section-padding-100-0">
        <div class="container">
            <div class="row">
             
                <div class="col-12 col-lg-40">
                  <div class="new-hits-area mb-100">
                      <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                          <p>See what’s new</p>
                          <h2>List of "W" Songs</h2>
                      </div>

                      <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                          <div class="first-part d-flex align-items-center">
                              <div class="thumbnail">
                                  <img src="img/bg-img/puri.jpg" alt="">
                              </div>
                              <div class="content-">
                                  <h6>Gulabi Aankhen</h6>
                                  <p>Sanam Puri</p>
                              </div>
                          </div>
                          <audio preload="auto" controls>
                              <source src="https://pagalworld3.org/10001/Gulabi Aankhen - SANAM.mp3">
                          </audio>
                      </div>

                     
                      <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms">
                          <div class="first-part d-flex align-items-center">
                              <div class="thumbnail">
                                  <img src="img/bg-img/face.jpg" alt="">
                              </div>
                              <div class="content-">
                                  <h6>Chera Kya</h6>
                                  <p>Kumar Sanu</p>
                              </div>
                          </div>
                          <audio preload="auto" controls>
                              <source src="audio/Chera Kya Dekte.mp3">
                          </audio>
                      </div>

                     
                      <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="200ms">
                          <div class="first-part d-flex align-items-center">
                              <div class="thumbnail">
                                  <img src="img/bg-img/han-tu.jpg" alt="">
                              </div>
                              <div class="content-">
                                  <h6>han tu hai</h6>
                                  <p>kk</p>
                              </div>
                          </div>
                          <audio preload="auto" controls>
                              <source src="audio/han tu hai.mp3">
                          </audio>
                      </div>

                     
                      <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
                          <div class="first-part d-flex align-items-center">
                              <div class="thumbnail">
                                  <img src="img/bg-img/itna.jpg" alt="">
                              </div>
                              <div class="content-">
                                  <h6>Itna mai chahu</h6>
                                  <p>Udit Narayan</p>
                              </div>
                          </div>
                          <audio preload="auto" controls>
                              <source src="audio/Itna mai chahu.mp3">
                          </audio>
                      </div>
                    
                      <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
                          <div class="first-part d-flex align-items-center">
                              <div class="thumbnail">
                                  <img src="img/bg-img/kasam.jpg" alt="">
                              </div>
                              <div class="content-">
                                  <h6>Jo Bhi Kasmein</h6>
                                  <p>Udit Narayan</p>
                              </div>
                          </div>
                          <audio preload="auto" controls>
                              <source src="audio/Jo Bhi Kasmein.mp3">
                          </audio>
                      </div>

                   
                      <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
                          <div class="first-part d-flex align-items-center">
                              <div class="thumbnail">
                                  <img src="img/bg-img/rab-kare.jpg" alt="">
                              </div>
                              <div class="content-">
                                  <h6>rab kare</h6>
                                  <p>Alka Yagnik</p>
                              </div>
                          </div>
                          <audio preload="auto" controls>
                              <source src="audio/rab kare.mp3">
                          </audio>
                      </div>

                     
                      <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="350ms">
                          <div class="first-part d-flex align-items-center">
                              <div class="thumbnail">
                                  <img src="img/bg-img/life.jpg" alt="">
                              </div>
                              <div class="content-">
                                  <h6>zindagi ban</h6>
                                  <p>Alka Yagnik</p>
                              </div>
                          </div>
                          <audio preload="auto" controls>
                              <source src="audio/zindagi ban.mp3">
                          </audio>
                        </div>

                   
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/wt7.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Ijazat</h6>
                                    <p>Arijit Singh</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Ijazat.mp3">
                            </audio>
                        </div>

                     
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/wt8.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Lo safar</h6>
                                    <p> Jubin Nautiyal </p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Lo Safar.mp3">
                            </audio>
                        </div>

                        
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="200ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/wt9.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Musafir</h6>
                                    <p>Atif Aslam</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Musafir.mp3">
                            </audio>
                        </div>

                        
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/wt10.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Aankh Marey</h6>
                                    <p>Mika Singh</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Aankh Marey.mp3">
                            </audio>
                        </div>
                        
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/ms.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Kaun Tujhe</h6>
                                    <p>Palak Muchhal</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Kaun Tujhe.mp3">
                            </audio>
                        </div>

                       
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/wt11.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Mann Mera</h6>
                                    <p>Gajendra Verma</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Mann Mera.mp3">
                            </audio>
                        </div>

                        
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="350ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/wt12.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Khaab</h6>
                                    <p>Akhil</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="https://pagalworld3.org/11865/Khaab - Akhil - 320Kbps.mp3">
                            </audio>
                        </div>

                       
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/chahu.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Aawaaz main na</h6>
                                    <p>MD.Rafi</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Aawaaz main na.mp3">
                            </audio>
                        </div>

                        
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/chingari-koi.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Chingari Koi</h6>
                                    <p>Kishor Kumar</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Chingari Koi.mp3">
                            </audio>
                        </div>

                       
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="200ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/likhe-jo.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>LIKHE JO KHAT</h6>
                                    <p>MD. RAFI</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/LIKHE JO KHAT.mp3">
                            </audio>
                        </div>

                        
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/maine-poocha.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Maine poochha</h6>
                                    <p>Md.Rafi</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Maine poochha.mp3">
                            </audio>
                        </div>
                    
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/mehboob-mere.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>mehboob mere</h6>
                                    <p>Mukesh</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/mehboob mere.mp3">
                            </audio>
                        </div>

                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/sawan-ka-mahina.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>sawan ka</h6>
                                    <p>Lata Mangeshkar</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/sawan ka mahina.mp3">
                            </audio>
                        </div>

                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="350ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="img/bg-img/yeh-jo-mohabbat-hai.jpg" alt="">
                                </div>
                                <div class="content-">
                                    <h6>Yeh Jo Mohabbat</h6>
                                    <p>Kishor Kumar</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="audio/Yeh Jo Mohabbat.mp3">
                            </audio>
                        </div>
                    </div>
                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

                    </div>
                </div>

    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url(img/bg-img/bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading white">
                        <p>See what’s new</p>
                        <h2>Get In Touch</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                  
                    <div class="contact-form-area">
                        <form action="enq" method="post">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <h1 style="font-size:150%; color:#ffff24; font-family:serif; font-style:"italic;"><b>MUSIC MANIA</b></h1>

    &copy;<script>document.write(new Date().getFullYear());</script>  MUSIC MANIA.
    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/albums-store">Albums</a></li>
                            <li><a href="/event">Events</a></li>
                            <li><a href="/blog">News</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    
    <script src="js/bootstrap/popper.min.js"></script>
   
    <script src="js/bootstrap/bootstrap.min.js"></script>
   
    <script src="js/plugins/plugins.js"></script>
  
    <script src="js/active.js"></script>
</body>

</html>
